@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Invento.Areas.Product.Models.GRNVM
    @using Invento.Areas.Purchase.Models

    @{
        ViewData["Title"] = "GRN";
        if (User.IsInRole("CompanyAdmin"))
        {
            Layout = "~/Views/Shared/_LayoutCompanyAdmin.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_LayoutCompanyUser.cshtml";
        }
    }

    <form asp-action="Create" id="MyForm">
        <div class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="well" style="padding-bottom:5px">
                <div class="row">
                    <span style="font-family:'Times New Roman', Times, serif ; font-weight:bolder ; font-size:x-large ; margin-left:15px">Add Good Receive Note</span>
                    <button type="submit" class="btn btn-default pull-right" style="margin-right:10px ; font-weight:bolder" title="Save">
                        <i class="glyphicon glyphicon-save"></i> Save
                    </button>
                </div>
            </div>

            <div class="row">

                <div class="col-md-2 pull-left">
                    <label>Date</label>
                </div>
                <div class="col-md-2 pull-left">
                    <label>Company Name</label>
                </div>
                <div class="col-md-2 pull-left">

                </div>
                <div class="col-md-2 pull-left">
                    <label>Contact Person</label>
                </div>
                <div class="col-md-2 pull-left">
                    <label>Contact Number</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <input asp-for="GRNDate" class="form-control" />
                    <span asp-validation-for="GRNDate" class="text-danger" />
                </div>
                <div class="col-md-4">
                    <select asp-for="PartiesID" class="form-control" asp-items="ViewBag.PartiesID" required>
                        <option disabled selected>Select Company...</option>
                    </select>
                    @*<span asp-validation-for="PartiesID" class="text-danger" />*@
                </div>
                <div class="col-md-2">
                    <input asp-for="ContactPerson" class="form-control" />
                    <span asp-validation-for="ContactPerson" class="text-danger" />
                </div>
                <div class="col-md-2">
                    <input asp-for="ContactNumber" class="form-control" />
                    <span asp-validation-for="ContactNumber" class="text-danger" />
                </div>
            </div>

            <br />
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <table class="table" id="ItemTbl">
            <thead>
                <tr class="active">
                    <th width="5%"></th>
                    <th width="15%">
                        OEM No.
                    </th>
                    <th width="35%">
                        Description
                    </th>
                    <th width="15%">
                        Quantity
                    </th>
                    <th width="10%">
                        <button type="button" class="btn btn-default btn-sm pull-right" id="insertRow">
                            Add Item
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody class="active">
                <tr>
                    <td>
                        <input asp-for="@Model.ItemList[0].ItemID" class="form-control ItemID" required readonly="readonly" />
                    </td>
                    <td>
                        <input asp-for="@Model.ItemList[0].OEMNo" class="form-control OEMNo" required oninput="OemNoAutoComplete(this);" onkeydown="LoadDescription(this);" />
                    </td>
                    <td>
                        <input asp-for="@Model.ItemList[0].ProductDescription" class="form-control ProductDescription" readonly="readonly" />
                    </td>
                    <td>
                        <input asp-for="@Model.ItemList[0].Quantity" class="form-control Quantity" oninput="TotalQuantityCalculate();" required />
                    </td>
                    <td style="display:none">
                        <input asp-for="@Model.ItemList[0].CompanyID" class="form-control CompanyID" />
                    </td>
                    <td></td>
                    @*<td> <button class="form-control RemoveRow btn btn-default" onclick="RemoveRow(this)">Remove</button> </td>*@
                </tr>

            </tbody>
        </table>

    </div>
</div>
            
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-1">
                            <label>Remarks</label>
                        </div>
                        <div class="col-md-2 col-md-offset-4">
                            <label>Total Quantity</label>
                        </div>
                        <div class="col-md-2 pull-left">
                            <input asp-for="TotalQuantity" value="0" class="form-control" readonly="readonly" />
                            <span asp-validation-for="TotalQuantity" class="text-danger" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <textarea asp-for="Remarks" class="form-control" rows="7" cols="4"></textarea>
                            <span asp-validation-for="Remarks" class="text-danger" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>

    <script type="text/javascript">


        $('#MyForm').submit(function ()
        {
            debugger;
            var balanceA = $("#TotalQuantity").val();
            balance = parseInt(balanceA);
            if(balance == 0)
            {
                var mytitle = "<span class='glyphicon glyphicon-remove' aria-hidden='true'></span> Error";
                $('.modal-title').html(mytitle);
                var myHeading = "<b>Quantity Cannot Be zero.</b>";
                $(".modal-body").html(myHeading);
                $('#modal-error').modal('show');

                return false;
            }
            else if(balance < 0)
            {
                var mytitle = "<span class='glyphicon glyphicon-remove' aria-hidden='true'></span> Error";
                $('.modal-title').html(mytitle);
                var myHeading = "<b>Quantity Can not be Less then zero.</b>";
                $(".modal-body").html(myHeading);
                $('#modal-error').modal('show');

                return false;
            }
        });


        $("#MyForm").validate();

        window.onload = function () {
            $("#insertRow").click(function () {
                var tblRows = $("#ItemTbl tbody tr").length;
                $('#ItemTbl tbody').append('<tr class="child">  <td  >  <input class="form-control ItemID" readonly="readonly" type="text" id="ItemList_' + tblRows + '__ItemID" required name="ItemList[' + tblRows + '].ItemID" required  value="" >  </td>    <td>  <input class="form-control OEMNo" type="text" id="ItemList_' + tblRows + '__OemNo" name="ItemList[' + tblRows + '].OemNo"  value="" required oninput="OemNoAutoComplete(this);" onkeydown="LoadDescription(this);" >  </td> <td> <input class="form-control ProductDescription" type="text" id="ItemList_' + tblRows + '__ProductDescription" name="ItemList[' + tblRows + '].ProductDescription" value="" readonly="readonly" > </td> <td>  <input class="form-control Quantity" oninput="TotalQuantityCalculate();" type="number" id="ItemList_' + tblRows + '__Quantity" name="ItemList[' + tblRows + '].Quantity" value="0" data-val="true" data-val-required="The Quantity field is required." required > </td>  <td> <button type="button" class="form-control btn btn-default" onclick="RemoveRow(this)">Remove</button> </td>            <td  style="display:none" >     <input class="form-control" type="text" id="ItemList_' + tblRows + '__CompanyID" name="ItemList[' + tblRows + '].CompanyID" value="" readonly="readonly" > </td>  </tr>');
            });        
        }

        
        function RemoveRow(val) {
            debugger;
            $(val).parent().parent().hide();
            var index = $(val).parent().parent().index();
            $('#ItemList_' + index + '__CompanyID').val(777777);
            $('#ItemList_' + index + '__Quantity').val(0);            
            $('#ItemList_' + index + '__ItemID').val(0);

            TotalQuantityCalculate();
        }

        $(document).ready(function () {
            debugger;

            var d = new Date();
            var month = d.getMonth() + 1;
            var day = d.getDate();

            var output = d.getFullYear() + '-' +
                (month < 10 ? '0' : '') + month + '-' +
                (day < 10 ? '0' : '') + day;
            
            $('#GRNDate').val(output);
        });      

        function OemNoAutoComplete(val) {
            // OEM No. Auto Complete
            $(val).autocomplete({
                source: function (request, response) {
                    $.ajax({

                        url: "/Purchase/Purchase/LoadOEMNoAutoComplete",
                        type: "GET",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            //debugger;
                            response($.map(data, function (item) {
                                //debugger;
                                return { label: item, value: item };
                            }))
                        }
                    })
                },
                messages : {
                    noResults : '',
                    results : function(resultsCount) {}
                }
            });
            LoadDescription(val);
            // OEM No. Auto Complete
        }

        // Fill Description By Oem No.
        function LoadDescription(val) {
            debugger;
            var index = $(val).parent().parent().index();
            var name = $(val).val();
            $URL = '@Url.Action("LoadDescription", "Purchase", new { area= "Purchase" })';
            $.ajax({
                method: "GET",
                url: $URL,
                data: { name: name },
                contentType: "application/json;charset=utf-8"
            })
                .done(function (data) {
                    debugger;
                    $('#ItemList_' + index + '__ProductDescription').val(data.productDescription);
                    $('#ItemList_' + index + '__ItemID').val(data.itemID);
                });
        }
        // Fill Description By Oem No.


        function TotalQuantityCalculate() {
            debugger;
            var quantity = 0;
            $('#TotalQuantity').val('');
            $('.Quantity').each(function () {
                var q = $(this).val();
                quantity += parseInt(q);
            });
            $('#TotalQuantity').val(quantity);
        }

        

    </script>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }