@model IEnumerable<Invento.Areas.Finance.Models.MainAccount>
 
@{
    ViewData["Title"] = "Main Account - Chart Of Accounts";        
    if (User.IsInRole("CompanyAdmin"))
    {
        Layout = "~/Views/Shared/_LayoutCompanyAdmin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutCompanyUser.cshtml";
    }
}

<div class="well" style="padding-bottom:0px">
    <div class="row">
        <span style="font-family:'Times New Roman', Times, serif ; font-weight:bolder ; font-size:x-large ; margin-left:15px">@ViewData["Title"]</span>
        @*@{
            if (User.IsInRole("CompanyAdmin"))
            {
                <a asp-area="CompanyAdmin" asp-controller="Home" asp-action="Index" class="btn btn-default pull-right" style="margin-right:55px">Cancel</a>
            }
            else
            {
                <a asp-area="CompanyUser" asp-controller="Home" asp-action="Index" class="btn btn-default pull-right" style="margin-right:55px">Cancel</a>
            }
        }*@        
        <span style="padding-right:30px" class="pull-right HideItems">
            <button type="button" class="btn-sm btn-default" title="Print Main Accounts" onclick="Print();"><span class="glyphicon glyphicon-print"></span></button>
        </span>        
    </div>
</div>
<label class="text-danger">@ViewBag.SameCodeError</label>

<div class="table-responsive">
    <table class="table table-condensed table-striped table-bordered" style="padding-top:0px">

        <thead>
            <tr class="active">
                <th>
                    @Html.DisplayNameFor(model => model.MainAccountNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AccountName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MainAccountNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountName)
                    </td>
                    <td class="HideItems">
                        @*@if(item.MainAccountNumber != "00")
                            {*@
                        <a asp-action="EditMainAccount" asp-route-id="@item.MainAccountID" class="btn btn-default btn-sm pull-right modal-link" style="margin-right:20px"><span class="glyphicon glyphicon-pencil"></span></a>
                        @*}*@
                    </td>
                </tr>
}
        </tbody>
    </table>
</div>

<script type="text/javascript">
    function Print() {
        $('.HideItems').hide();
        window.print();
        $('.HideItems').show();
    }
</script>