@model IEnumerable<Invento.Areas.CompanyAdmin.Models.Company.Country>
 
@{
    ViewData["Title"] = Localizer["Country"];
    if (User.IsInRole("CompanyAdmin"))
    {
        Layout = "~/Views/Shared/_LayoutCompanyAdmin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutCompanyUser.cshtml";
    }
}

<div class="well" style="padding-bottom:5px">
    <div class="row">
        <span style="font-family:'Times New Roman', Times, serif ; font-weight:bolder ; font-size:x-large ; margin-left:15px">@ViewData["Title"]</span>

        @if (User.IsInRole("CompanyAdmin") || User.IsInRole("Add Countries"))
        {
            <a asp-action="Create" class="btn btn-default pull-right modal-link" style="margin-right:20px"><span class="glyphicon glyphicon-plus"></span> @Localizer["Add New"] </a>
        }
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-hover " id="MyTable">
        <thead>
            <tr class="active">
                <th>
                    @Localizer["ID"]
                </th>
                <th>
                    @Localizer["ISO"]
                    @*@Html.DisplayNameFor(model => model.ISO)*@
                </th>
                <th>
                    @Localizer["Name"]
                    @*@Html.DisplayNameFor(model => model.Name)*@
                </th>
                <th>
                    @Localizer["ISO 3"]
                    @*@Html.DisplayNameFor(model => model.Iso3)*@
                </th>
                <th>
                    @Localizer["Nice Name"]
                    @*@Html.DisplayNameFor(model => model.NiceName)*@
                </th>
                <th>
                    @Localizer["Code"]
                </th>
                <th>
                    @Localizer["Phone"]
                </th>
                @if (User.IsInRole("Edit Countries") || User.IsInRole("CompanyAdmin"))
                {
                    <th>@Localizer["Edit"]</th>
                }

            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@section Scripts{
    <script>

        $(document).ready(function () {
            $('#MyTable').DataTable({

                dom: 'lBfrtip',
                buttons:
                    [
                        {
                            "extend": 'print',
                            "title": 'Countries',
                            "text": "Print",
                            "autoPrint": true,
                            exportOptions: {
                                "columns": ':visible',
                            },
                        },
                        {
                            "extend": 'excel',
                            "title": 'Countries',
                            "text": "Excel",
                            "autoPrint": true,
                            exportOptions: {
                                "columns": ':visible',
                            },
                        },
                         {
                             "extend": 'pdfHtml5',
                             "title": 'Countries',
                             "text": "PDF",
                             exportOptions: {
                                 "columns": ':visible',
                             },
                         },
                         {
                             extend: 'colvis',
                         }
                    ],

                "ajax": {
                    "url": "/Company/Countries/LoadCountries",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "countryID", "autoWidth": true },
                    { "data": "iso", "autoWidth": true },
                    { "data": "name", "autoWidth": true },
                    { "data": "niceName", "autoWidth": true },
                    { "data": "iso3", "autoWidth": true },
                    { "data": "numCode", "autoWidth": true },
                    { "data": "phoneCode", "autoWidth": true },
                     @if(User.IsInRole("Edit Banks") || User.IsInRole("CompanyAdmin"))
                {
                        <text>
                    {
                        "data": null,
                        "mRender": function (data, type, row) {
                            return $("<div />")
                                .append($(" <a class='btn btn-sm btn-default modal-link' href='/Company/Countries/Edit?id=" + data.countryID + "'><span class='glyphicon glyphicon-pencil'></span></a>   "))
                                .html();
                        }
                    }
                      </text>
                }
                ]
            });
        });
    </script>
}

