 @model Invento.Areas.Payment.Models.ReceivablePaybleStatementVM
@{
    ViewData["Title"] = Localizer["Statement Of Receivable"];
    if (User.IsInRole("CompanyAdmin"))
    {
        Layout = "~/Views/Shared/_LayoutCompanyAdmin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutCompanyUser.cshtml";
    }
}

<div class="well" style="padding-bottom:5px">
    <div class="row">
        <div class="row">
            <div class="col-md-3">
                <span style="font-family:'Times New Roman', Times, serif ; font-weight:bolder ; font-size:x-large ; margin-left:15px">@ViewData["Title"]</span>
            </div>
            <form asp-action="StatementOfReceivable" method="get" class="HideItems">                    
                <div class="col-md-3 col-md-offset-5">
                    <select class="form-control" asp-items="@Model.PartyList" onchange="PartyChange();" name="Party" id="Party">
                        <option selected>@Localizer["All Party Accounts"]</option>
                    </select>
                </div>
                <div class="col-md-1 HideItems">
                    <button type="submit" class="btn-sm btn-default" id="Search" value="Search" title="Search" style="font-weight:bolder"><span class="glyphicon glyphicon-search"></span></button>
                    <button type="button" class="btn-sm btn-default" title="Print Receivable" onclick="Print();"><span class="glyphicon glyphicon-print"></span></button>
                </div>  
            </form>
        </div>        
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-hover" id="MyTable">
        <thead>
            <tr class="active">
                <th>
                    @Localizer["Name"]
                </th>
                <th>
                    @Localizer["Amount To Receive"]
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.StatementList)
        {
            decimal XYZ = item.OpeningBalance + item.debit - item.credit ;
            if (XYZ > 0)
            {
                    <tr id="tblData">
                        <td>
                            @Html.DisplayFor(modelItem => item.PartyName)
                        </td>
                        <td class="Amount">
                            <span>@XYZ</span>
                        </td>
                    </tr>
            }
        }
        </tbody>
        <tfoot>
            <tr class="active">
                <td></td>
                <td><p style="font-weight:bold ; padding-bottom:0em" id="TotalAmount"></p></td>
            </tr>
        </tfoot>
    </table>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            TotalReceivableCalculate();
        });

        function Print() {
            $('.HideItems').hide();
            window.print();
            $('.HideItems').show();
        }

        function TotalReceivableCalculate() {
            debugger;
            var amount = 0;
            $('.Amount').each(function () {
                amount += parseFloat($(this).text());
            });
            $('#TotalAmount').text(amount);
        }

    </script>
}


