@model Invento.Areas.Sale.Models.SaleBillVM
@using Invento.Areas.Sale.Models

@{
    ViewData["Title"] = "Sale Bill";
    if (User.IsInRole("CompanyAdmin"))
    {
        Layout = "~/Views/Shared/_LayoutCompanyAdmin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutCompanyUser.cshtml";
    }
}

<div id="detailDIV"></div>
<div class="well" style="padding-bottom:5px">
    <div class="row">
        <span style="font-family:'Times New Roman', Times, serif ; font-weight:bolder ; font-size:x-large ; margin-left:15px">
        @if (Model.SB_B_1 == true)
        {
            <span>Canceled </span>
        }Sale Bill</span>        
        <a asp-area="Sale" asp-controller="Sale" asp-action="InvoicePrint" asp-route-id="@Model.SaleBillID" target="_blank" class="btn btn-default pull-right" title="Print Sale Invoice" style="margin-right:20px"><span class="glyphicon glyphicon-print" style="margin-right:10px"> </span>Print</a>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <label>Sale Bill No. <span style="padding-left:7px">@Model.SaleBillID</span></label>
    </div>
    <div class="col-md-2 pull-left">
        <label>Date: <span style="padding-left:10px">@Model.SB_S_1</span></label>
    </div>

    <div class="col-md-4 pull-left">
        <label>Contact Person <span style="padding-left:10px">@Model.ContactPerson</span></label>
    </div>
    <div class="col-md-4 pull-left">
        <label>Contact Number<span style="padding-left:10px">@Model.ContactNumber</span></label>
    </div>

</div>


<br />

<div class="row">

    <div class="col-md-2 pull-left">
        <label>Exchange Rate<span style="padding-left:10px">@Model.ExchangeRate</span></label>
    </div>
    <div class="col-md-2 pull-left">
        <label>External Ref.<span style="padding-left:10px">@Model.SaleBillID</span></label>
    </div>
    <div class="col-md-2 pull-left">
        <label>Ref. Date<span style="padding-left:10px">@Model.SB_S_2</span></label>
    </div>
    <div class="col-md-2 pull-left">
        <label>Credit Days<span style="padding-left:10px">@Model.CreditDays</span></label>
    </div>
</div>


<br />


<table class="table table-bordered" id="ItemTbl">
    <thead>
        <tr class="active">
            <th>ID</th>
            <th width="10%">
                OEM No.
            </th>
            <th width="40%">
                Description
            </th>
            <th width="15%">
                Quantity
            </th>
            <th width="15%">
                Price
            </th>
            <th width="15%">
                Amount
            </th>

        </tr>
    </thead>
    <tbody class="active">
        @for (int i = 0; i < Model.SaleBillItem_List.Count; i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(item => item.SaleBillItem_List[i].ItemID)
                </td>
                <td>
                    @Html.DisplayFor(item => item.SaleBillItem_List[i].Item.OEMNo)
                </td>
                <td>
                    @Html.DisplayFor(item => item.SaleBillItem_List[i].Item.ProductDescription)
                </td>
                <td>
                    <input style="display:none" asp-for="@Model.SaleBillItem_List[i].Quantity" class="form-control Quantity" />
                    @Html.DisplayFor(item => item.SaleBillItem_List[i].Quantity)
                </td>

                <td>
                    <input style="display:none" asp-for="@Model.SaleBillItem_List[i].SalePrice" class="form-control SalePrice" />
                    @Html.DisplayFor(item => item.SaleBillItem_List[i].SalePrice)
                </td>
                <td>
                    <label id="Amount"></label>

                </td>
            </tr>
        }

    </tbody>
</table>

<div class="row floatRigthClass" style="float:right;padding-right:100px">
    <div class="row">
        <div>
            <label>Total Quantity : <span style="padding-left:10px">@Model.TotalQuantity</span></label>
        </div>
    </div>
    <div class="row">
        <div>
            <label>Gross Total : <span style="padding-left:10px">@Model.GrossTotal</span></label>
        </div>
    </div>
    <div class="row">
        <div>
            <label>Total Discount : <span style="padding-left:10px">@Model.TDiscount</span></label>
        </div>
    </div>
    <div class="row">
        <div>
            <label>Net Amount : <span style="padding-left:10px">@Model.NetAmount</span></label>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-lg-8">
        <label>Remarks : <span style="padding-left:10px">@Model.Remarks</span></label>
    </div>
</div>


<script type="text/javascript">   

    $(document).ready(function () {
        debugger;        
        FirstamountCalculate();
        FirstLoadPayment();        
    });
    function FirstamountCalculate() {
        debugger;
        $('#ItemTbl > tbody > tr').each(function () {
            $this = $(this)
            debugger;
            var price = $this.find(".SalePrice").val();
            var quantity = $this.find(".Quantity").val();
            var amount = (price * quantity).toFixed(6);

            $this.find("#Amount").append(amount);

        });
    }
    function FirstLoadPayment()
    {
        debugger;
        $('#PaymentTbl > tbody > tr').each(function () {
            $this = $(this)
            debugger;
            var aa = $this.find(".Mode option:selected").text();
            var bb = $this.find(".BankID option:selected").text();

           $this.find("#modedisplay").append(aa);
           $this.find("#bankdisplay").append(bb);
        });
    }

    function Print() {

        //$('.floatRigthClass').css({ "float": "right", "margin-right": "20px" });
        $('#CancelBtn').hide();
        $('#PrintBtn').hide();
       
        window.print();        
    }

</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}









@*<table class="table table-bordered" id="PaymentTbl">
        <thead>
            <tr class="active">
                <th width="10%">
                    Mode
                </th>
                <th width="20%">
                    Amount
                </th>

                <th width="20%">
                    Cheque
                </th>
                <th width="30%">
                    Date
                </th>
                <th width="20%">
                    Paid
                </th>

            </tr>
        </thead>
        <tbody class="active">
            @for (int i = 0; i < Model.SaleTransactionList.Count; i++)
            {
                <tr>

                    <td>
                        <label id="modedisplay"></label>

                        <select style="display:none" asp-for="@Model.SaleTransactionList[i].Mode" asp-items="@Html.GetEnumSelectList<PaymentMode>()" class="form-control Mode"></select>
                    </td>
                    <td>
                        @Html.DisplayFor(item => item.SaleTransactionList[i].Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(item => item.SaleTransactionList[i].Cheque)

                    </td>
                    <td>
                        @Html.DisplayFor(item => item.SaleTransactionList[i].Date)

                    </td>
                    <td>
                        @{
                            if (Model.SaleTransactionList[i].Paid == true)
                            {
                                <label>Paid</label>
                            }
                            else
                            {
                                <label>UnPaid</label>
                            }
                        }
                    </td>

                </tr>
                            }
        </tbody>
    </table>*@
